@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    height: 100vh;
    letter-spacing: 0.5px;
}
.background {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(216, 50%, 16%);
    width: 335px;
    height: 535px;
    border-radius: 15px;
    padding: 20px;
}

.card .logo {
    background-image: url(../images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    border-radius: 15px;
}

.card .logo .inspector-logo {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    cursor: pointer;
}

.card .logo .inspector-logo:hover {
    background-color: hsl(178, 100%, 50%, 0.6);
    opacity: 1;
}

.card .logo .inspector-logo .logo-view {
    height: 50px;
    width: 50px;
}

.information{
    padding-left: 5px;
}

.information .title {
    margin: 15px 0px;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.5px;
}

.information .description {
    color: hsl(215, 51%, 70%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

.card .date {
    margin: 22px 3px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.card .date p {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}

.card .date .eth {
    color: hsl(178, 100%, 50%);
}

.card .date .days {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

.card .date p img {
    margin-right: 5px;
}

.card .person {
    margin-top: 18px;

    border-top: 2px;
    border-color: hsl(215, 32%, 27%);
    border-style: solid;

    padding: 13px 4px;
    display: flex;
    align-items: center;
}

.card .person .avatar {
    border: 1px;
    border-radius: 50%;
    border-style: solid;
    border-color: hsl(0, 0%, 100%);
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.card .person .creation-by {
    font-size: 14.5px;
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
}

.card .person .creation-by .name {
    color: hsl(0, 0%, 100%);
}